name: lint-commit-message
on: [push]

jobs:
  commitlint:
    if: false # disable
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v2
